.header-elem {
    height: 150px
}

.input-card {
    height: 350px;
    width: 50px
}

.border-blue {
    border-color: green;
}

.hero-image {
    background-image: url("https://images.pexels.com/photos/1086585/pexels-photo-1086585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    min-height: 60vh;
    background-size: cover;
    background-position: bottom center;
}

.spill {
    bottom: -25px;
}